@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: 'DM Sans', sans-serif;
    font-weight: 600;
}

/* custom color */
:root {
    --dark-blue: #232360;
    --light-blue: #7bd0f5;
    --light-green: #50DF89;
}

::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-weight: 600;
    font-size: 1.5rem;
}

h3 {
    color: #232360;
    font-weight: 600;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.wrapper {
    display: flex;
}

.main {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    background-color: #fafbfe;
}

/* custom CSS for card */
.card {
    width: 100%;
}


.custom-card {
    padding: 20px;
    border: 1px solid #eeeeee;
    border-radius: 5px;
}

.custom-card h3{
    font-size: 1.5rem;
}

.custom-divider {
    height: 2px; 
    background-color: #eeeeee; 
    margin: 0 1rem 1rem 1rem;
}

/**/
.table th {
    font-weight: 600;
    color: #232360;
}

.table .plan-code {
    color: #232360;
    font-weight: 700;
}

.table .requirement-code, .requirement-title {
    font-weight: 600;
    color: #1EA7FF !important;
}

#myDropzone {
    background: transparent;
    border: 2px dashed #999999;
    border-radius: 5px;
    margin: 10px 10px 0px 10px;
}

/**/
.btn-key {
    color: #232360 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    border-radius: 5px;
    background: #f3f4f8 !important;
}


.btn-light-green {
    color: #232360 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    background: var(--light-green) !important;
}

.btn-light-blue {
    color: #232360 !important;
    font-size: 1rem !important;
    font-weight: bold !important;
    background: var(--light-blue) !important;
}

table {
    font-family: 'Arial', sans-serif; /* Thay đổi font chữ thành Arial */
}
th, td {
    font-family: 'Arial', sans-serif; /* Thay đổi font chữ thành Arial */
}

td {
    font-weight: 400;
}

.scrollable-card-body {
    max-height: 35vh; /* Adjust this value as needed */
    overflow-y: auto;
    position: relative;
}
