.table th,tr,td{
    border: none;
    white-space: nowrap;
    overflow: visible;
    text-overflow: ellipsis;
}

.table th{
    font-weight: 600;
    color: #969696;
}

.table .plan-code-col {
    color: #232360;
    font-weight: 700;
}

.table .test-plan-code {
    color: #232360;
    font-weight: 400;
    opacity: 0.95;
}

.table .test-plan-name-col,.table .test-description-col,.table .release-col {
    font-weight: 700;
    color: #1EA7FF !important;
}

.table .test-plan-name,.table .test-plan-description,.table .release {
    font-weight: 400;
    color: #1EA7FF !important;
    opacity: 0.95;
}

.pagination a{
    color: #1EA7FF !important;
    padding: 0 10px;
}

@media screen and (max-width: 994px) {
    .table-responsive{
        padding: 0 !important;
    }
}

@media screen and (max-width: 880px) {
    .menu-container {
        margin-left: 0 !important;
    }
}

@media screen and (max-width: 767px) {
    .test-description {
        display: none;
    }
}

@media screen and (max-width: 530px) {
    .btn-text {
        display: none !important;
    }
}
