<div class="modal fade" id="delete-test-case-modal" tabindex="-1" role="dialog" aria-labelledby="modalTitleId" aria-hidden="true" data-testcase-code="">
    <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-md" role="document">
        <div class="modal-content align-items-center"
            style="color: #232360; font-weight: 900; padding: 0 6%; background-color: #F3F4F8;">
            <div class="modal-header">
                <p class="modal-title fs-3" id="modalTitleId">
                    Delete Test Plan
                </p>
            </div>
            <div class="modal-body">
                <p>
                    Are you sure you want to delete this test case?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
                    Close
                </button>
                <button type="button" class="btn btn-danger delete-test-case-btn">Delete</button>
            </div>
        </div>
    </div>
</div>